@import "tailwindcss";
@keyframes smallBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* smaller bounce */
  }
}

.small-bounce {
  animation: smallBounce 1.5s ease-in-out infinite;
}
